{% extends 'base.html' %}

{% block content %}
    <div>
        {% for post in posts %}
            <div class="col col-lg-4 offset-lg-4 mb-4">
                <div class='card'>
                    <div class="card-header">
                        {{ post.author }}
                    </div>
                    <div class="card-body">
                        <img src="{{ post.photo.url }}" class="card-img-top">


                        <ul class="list-unstyled">
                            {% for comment in post.comments.all %}
                            <li><strong>{{ comment.author }}</strong>
                                <span>{{ comment.content }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}