{% extends 'base.html' %}

{% block content %}
    <div>
        {% for post in posts %}
            <div class="col col-lg-4 offset-lg-4 mb-4">
                <div class='card'>
                    <div class="card-header">
                        <span><a href="">
                            <img src="{{ post.author.img_profile_url }}"
                                 style="width:30px; height:30px; border-radius:100%">
                        </a></span>
                        {{ post.author }}
                    </div>
                    <div class="card-body">
                        <img src="{{ post.photo.url }}" class="card-img-top">
                        <form action="{% url 'posts:post-like-toggle' post_pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">like/unlike</button>
                        </form>

                        <ul class="list-unstyled">
                        <div>
                            <span>liked</span>
                            <strong>{{ post.like_users.all|join:', ' }}</strong>
                        </div>
                            {% for comment in post.comments.all %}
                            <li><strong>{{ comment.author }}</strong>
                                <span>{{ comment.html|safe }}</span></li>
                            {% endfor %}
                        </ul>
{#                    댓글작성 폼 구현 #}
{#                    1. 유저가 로그인 한 경우에만 보여지도록 함#}
{#                    2. 내부 요소는 textarea[name=content]와 버튼하나#}
                        {% if user.is_authenticated %}
                        <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            {{ comment_form }}
                            <button type="submit" class="btn btn-primary btn-block">작성</button>
                        </form>
                        {% endif %}
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}