{% extends 'base.html' %}
{% block content %}
        <div class="">
        <h2 class="text-center">Log In</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>

            {% endfor %}
            {% for error in form.non_field_errors %}
            <small class="form-text text-muted">{{ error }}</small>
            {% endfor %}
            <button type="submit" class="btn btn-lg btn-primary btn-block">login</button>
            <a href="https://www.facebook.com/v3.2/dialog/oauth?
                client_id=546322495811516
                &redirect_uri=http://localhost:8000/members/facebook-login/"
               class="btn btn-lg btn-info btn-block">Facebook Login</a>
        </form>
    </div>

{% endblock %}