{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <style>
        .square {
 		}
		.square:before {
			content: '';
			padding: 50% 0;
			display: inline-block;
		}
		.square > .thumbnail {
			display: block;
			width: 100%;
			background-size: cover;
			background-position: center center;
		}
    </style>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'posts:post-list' %}" class="navbar-brand">Instagram</a>

            <form action="{% url 'posts:tag-search' %}" class="form-inline ml-md-auto">
                <input type="text" class="form-control" placeholder="search"  name="search_keyword">
            </form>

            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item mr-sm-1">
                    <a href="" class="btn btn-outline-secondary">Explore</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="" class="btn btn-outline-secondary">Favorites</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="" class="btn btn-outline-secondary">Profile
                    {% if user.is_authenticated %}
                        ({{ user.username }}
                    {% endif %}
                    </a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="{% url 'posts:post-create' %}" class="btn btn-outline-primary">+Add Post</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mr-sm-1">
                    <form action="{% url 'members:logout-view' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item mr-sm-1">
                    <a href="{% url 'members:login-view' %}" class="btn btn-outline-primary">Login</a>
                </li>
                <li class="nav-item mr-sm-1">
                    <a href="{% url 'members:signup-view' %}" class="btn btn-outline-primary">Sign Up</a>
                </li>

                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>